*.log
*.aux
*.cfg
*.glo
*.idx
*.toc
*.ilg
*.ind
*.out
*.lof
*.lot
*.bbl
*.blg
*.gls
*.cut
*.hd
*.dvi
*.ps
*.thm
*.tgz
*.zip
*.rpi
*~
~$*
*.bcf
*.run.xml
*.synctex.gz
*.synctex(busy)
*.fdb_latexmk
*.fls
*.soc
*.loc
.DS_Store
desktop.ini
/.vscode/
paper.pdf
paper-*.pdf